.main-page{
    background: url(https://i.ibb.co/gtfQq5V/Rectangle-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 600px;
}
.inner{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 600px;
}
.spot-info{
    color: #fff;
    width: 40%;
    margin-left: 70px;
}
