.logo-img{
    height: 56px;
    margin-left: 40px;
}
.nav-item{
    margin: 0 20px;
}
.search-field{
    width: 240px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}
.login-btn{
    background: white;
    border-radius: 5px;
    padding: 0 12px;
    color: black;
    font-weight: bold;
}
.navbar{
    z-index: 1;
    background-color: #FFC107;
}